Source: unity-scopes-shell
Priority: optional
Section: libs
Build-Depends: cmake,
               debhelper (>= 9),
               dh-python,
               libboost-python-dev,
               libboost-regex-dev,
               libunity-api-dev (>= 7.96),
               libunity-scopes-dev (>= 0.6.12~),
               libgsettings-qt-dev (>= 0.1),
               libqtdbustest1-dev (>= 0.2),
               libqtdbusmock1-dev (>= 0.2),
               libubuntu-location-service-dev (>= 2.0.1),
               pkg-config,
               python3-all-dev,
               python-tornado,
               qt5-default,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               unity-schemas (>= 7.3.1),
               libonline-accounts-client-dev,
               intltool,
Standards-Version: 3.9.5
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Homepage: https://launchpad.net/unity-scopes-shell
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:unity-scopes-shell
Vcs-Browser: https://code.launchpad.net/unity-scopes-shell
X-Python3-Version: >= 3.4

Package: unity-plugin-scopes
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity-schemas (>= 7.3.1),
Provides: unity-scopes-impl,
          unity-scopes-impl-0,
          unity-scopes-impl-1,
          unity-scopes-impl-4,
          unity-scopes-impl-6,
Breaks: unity8-private (<< 7.84),
        unity8 (<< 8.02)
Replaces: unity8-private (<< 7.84)
Description: QML plugin for Scopes
 Plugin to integrate scopes with the Unity shell

Package: libscope-harness1
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Test harness for Unity scopes
 Drive Unity scopes with a simple synchronous API. Make assertions
 about results. Runtime library.

Package: libscope-harness-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libscope-harness1 (= ${binary:Version})
Description: Test harness for Unity scopes
 Drive Unity scopes with a simple synchronous API. Make assertions
 about results. Development files.

Package: python3-scope-harness
Architecture: any
Depends: ${python3:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Description: Python bindings for Unity scopes test harness
 Drive Unity scopes with a simple synchronous API. Make assertions
 about results. Python bindings.
