#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/default.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_HOST_GNU_TYPE := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
ifneq (,$(findstring powerpc,$(DEB_HOST_GNU_TYPE)))
# Work around pointer equality problem with -Bsymbolic-functions:
#   http://lists.linaro.org/pipermail/linaro-toolchain/2014-January/003944.html
export DEB_BUILD_MAINT_OPTIONS := hardening=+pie
endif

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --with python3 --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) -DCMAKE_INSTALL_LOCALSTATEDIR=/var

override_dh_auto_clean:
	/bin/sh $(CURDIR)/debian/bileto_pre_release_hook
	dh_auto_clean
